/* font-family: 'Kalam', cursive; 
font-family: 'Handlee', cursive; */

main {
    font-family: 'Handlee', cursive;
}

main h2 {
    font-family: 'Kalam', cursive
}

.hero {
    background-image: url("../img/hero.jpg");
    background-position: 25% 27%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh
}

/* ******************* logo ******************* */

#logo {
    position: relative;
    width: 220px;
    height: 80px;
}

#logo h1 {
    position: absolute;
    left: 63px;
    top: 21px;
    font-size: 35px
}

#logo p {
    font-size: 13px;
    position: absolute;
    top: 9px;
    left: 38px;
}

#logo-man {
    width: 45px;
    transform: rotate(40deg);
    position: absolute;
    top: 21px;
    left: 7px;
    filter: invert();
}


#logo-frog {
    width: 24px;
    transform: rotate(50deg);
    position: absolute;
    bottom: -1px;
    left: 44px;
    filter: invert();
}

.hero {
    height: 30vh;
}

@media screen and (min-width: 992px) {
    .hero {
        height: 40vh
    }
}